@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  font-family: montserrat;
  font-weight: 500;
}
main{
  max-width: 1240px;
 }

body{
  margin: 0
} 

html, body,
#root {
	height: 100%
}

#root {
	display: flex;
	flex-direction: column;  
}

main {
	justify-content: center;
	flex-grow: 1;
  	margin: auto;
}

@media (max-width: 1280px) {
    body{
       margin: 0 20px;
    }
	footer{
		width : 100vw;
		margin-left : calc(-1 * ((100vw - 100%) / 2));
	}    
}

