.titles{
    color: #FF6060
}

.titles .title{
    font-size: 36px;
}

.titles .location{
    font-size: 18px;
}

.logement_info{
    display : flex;
    flex-direction: row;
    justify-content: space-between;
}

.host_rating{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}


@media (max-width: 400px) {
    .logement_info{
        flex-direction: column;
    }
    .host_rating{
        flex-direction: row-reverse;
    }
    
}