.logement_info{
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px 
}
.host_and_rating_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    align-items: flex-end;
}
@media (max-width: 400px) {
    .logement_info{
        flex-direction: column;
        gap : 0 
   }
    .host_and_rating_container{
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 0;
   }
}
