.banner_image_accueil img, .banner_image_accueil_mobile img, .banner_image_about img{
    width: 100%;
}

/* media queries */

@media (max-width: 550px) {
    .banner_image_accueil img{
        display: none;
    }
}

@media (min-width: 550px) {
    .banner_image_accueil_mobile img{
        display: none;
    }
}

