.logement_imgs_carousel img{
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 10px;
}

.logement_carousel .fa-chevron-left, .fa-chevron-right{
    color : white;
    position : absolute;
    top : 45%;
    font-size: 90px;
    z-index: 1;
    cursor: pointer;
}

.logement_carousel .fa-chevron-left{
   left : 80px
}
.logement_carousel .fa-chevron-right{
    right : 80px
 }

 .logement_imgs_carousel {
    display: none;
  }
  
  .logement_imgs_carousel.active {
    display: block;
  }