.logement_imgs_carousel img{
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 10px;
}

.logement_carousel {
    position: relative;
  }

.logement_carousel .fa-chevron-left, .fa-chevron-right{
    color : white;
    position : absolute;
    top : 40%;
    font-size: 80px;
    z-index: 1;
    cursor: pointer;
}

.logement_carousel .fa-chevron-left{
   left : 5%
}
.logement_carousel .fa-chevron-right{
    right : 5%
 }

 .logement_imgs_carousel {
    display: none;
  }
  
  .logement_imgs_carousel.active {
    display: block;
  }

  .counter{
    position : absolute;
    color: white;
    top : 87%;
    left : 50%;
    right : 50%;
    font-size: 18px;
  }


@media (max-width: 800px) {
    .logement_imgs_carousel img{
      height: 360px;
  }
  .logement_carousel .fa-chevron-left, .fa-chevron-right{
    font-size: 55px;
    top : 40%;
}
}


  @media (max-width: 400px) {
    .logement_imgs_carousel img{
      height: 255px;
  }
  .logement_carousel .fa-chevron-left, .fa-chevron-right{
    font-size: 20px;
    top : 45%;
}
.counter{
  display: none;
}
    

}