.button_collapse{
    color: white;
    background-color: #FF6060;
    border: none;
    height: 52px;
    border-radius: 5px;
    font-size: 24px;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.collapse_about{
    margin: 0 88px;
}

.collapse_logement .description, .collapse_logement .equipements{
    width: 50%;
}

.collapse_about .button_collapse, .collapse_about .text_collapse{
    width: 100%;
}

.text_collapse{
    background-color: #F6F6F6;
    color: #FF6060;
    border-radius: 5px;
    font-size: 18px;
    box-sizing: content-box;
    padding: 0 20px;
    font-weight: 400;
}

.collapse_logement{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
    gap: 50px;
   
}


.collapse_about .button_text_collapse{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px;
}
.collapse_logement .button_text_collapse{
    display: flex;
    flex-direction: column;
    
}

.arrow {
    font-size: 24px;
    display: inline-block;
    user-select: none;
    animation: rotate 0.5s;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }

@media (max-width: 591px) {
    .collapse_about .button_collapse, .collapse_about .text_collapse{
       width: 335px;   
    }
    .collapse_logement {
        flex-direction: column !important;
    }
    .collapse_logement .description, .collapse_logement .equipements{
        width: 100%;
    }   
}