.btn_collapse {
    color: white;
    background-color: #FF6060;
    border: none;
    height: 52px;
    border-radius: 5px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
  
    @media (max-width: 800px) {
      font-size: 18px;
      height: 50px;
    }
  
    @media (max-width: 400px) {
      font-size: 13px;
      height: 30px;
    }
  }
  
  .collapse_logement_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
    gap: 50px;
  
    @media (max-width: 600px) {
      flex-direction: column !important;
    }
  
    @media (max-width: 800px) {
      gap: 20px;
    }
  
    @media (max-width: 400px) {
      gap: 20px;
    }
  }
  
  .collapse_logement_container .description_container,
  .collapse_logement_container .equipements_container {
    width: 50%;
  
    @media (max-width: 600px) {
      width: 100%;
    }
  }
  
  .collapse_about_container {
    .btn_collapse {
      width: 100%;
  
      @media (max-width: 800px) {
        font-size: 18px;
      }
  
      @media (max-width: 400px) {
        font-size: 13px;
      }
    }
  
    .btn_and_text_collapse {
      display: flex;
      flex-direction: column;
      margin: 40px;
  
      @media (max-width: 800px) {
        margin: 30px 30px;
      }
  
      @media (max-width: 400px) {
        margin: 20px 0;
      }
    }
  }
  
  .collapse_content_text {
    background-color: #F6F6F6;
    color: #FF6060;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    box-sizing: content-box;
  
    @media (max-width: 800px) {
      font-size: 16px;
      padding: 15px;
    }
  
    @media (max-width: 400px) {
      font-size: 12px;
      padding: 15px;
    }
  }
  
  .collapse_content_parent {
    height: 0px;
    overflow: hidden;
    transition: height ease 0.9s;
  
    &.content-show {
      height: 200px;
    }
  }
  
  .arrow {
    font-size: 24px;
    display: inline-block;
    user-select: none;
    animation: rotate 0.5s;
  
    #rotateIcon {
      transition: transform 0.3s ease;
  
      &.rotated {
        transform: rotate(-180deg);
      }
    }
  }
  
  @media (max-width: 400px) {
    .collapse_content_text,
    .collapse_logement_container {
      gap: 20px;
    }
  }