.button_collapse{
    color: white;
    background-color: #FF6060;
    border: none;
    height: 52px;
    border-radius: 5px;
    font-size: 24px;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.collapse_about .button_collapse, .collapse_about .text_collapse{
    width: 983px;
}
.collapse_logement .button_collapse, .collapse_logement .text_collapse{
    width: 542px;
}
.text_collapse{
    background-color: #F6F6F6;
    color: #FF6060;
    border-radius: 5px;
    font-size: 18px;
    box-sizing: content-box;
    padding: 0 20px;
}



.collapse_about .button_text_collapse{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px;
}
.collapse_logement .button_text_collapse{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
