footer{
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 40px;
    min-height: 209px;
    max-height: 209px
 
}

.text_footer{
    color: white;
    font-size: 24px;
}


@media (max-width: 376px) {
    .text_footer{
        font-size: 12px;
    }
    
}
