footer {
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    min-height: 209px;
    max-height: 209px;
    width: 100%;
  
    .text_footer {
      color: white;
      font-size: 24px;
  
      @media (max-width: 800px) {
        font-size: 18px;
      }
  
      @media (max-width: 400px) {
        font-size: 12px;
      }
    }
  
    img {
      height: 40px;
    }
  }