Header .logo_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoKasa img{
    height: 70px;
}

nav a {
    color : #FF6060;
    text-decoration: none;
    font-size: 24px;
}

Header nav ul{
    display: flex;
    gap : 30px;
    justify-content: space-between;
    list-style-type: none;
 }
 
header{
    max-width: 1240px;
    width: 100%;
    margin: 30px auto;
}


@media (max-width: 550px) {
    .logoKasa img{
        height: 40px !important;
    }
    nav a {
        font-size: 12px;
    }
}

@media (max-width: 550px) {
    
    nav a {
        font-size: 18px;
    }
    nav a {
        color : #FF6060;
        text-decoration: none;
        font-size: 12px;
        text-transform : uppercase;
    }
}