.logement_title_page {
    color: #FF6060;
    font-size: 36px;
    margin-bottom: 0;
  
    @media (max-width: 800px) {
      font-size: 26px;
    }
  
    @media (max-width: 400px) {
      font-size: 18px;
    }
  }