.logement_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #F6F6F6;
    border-radius: 25px;
    margin: 50px 0;
    padding-top: 50px;
    padding-bottom: 20px;
}
  
    .logement_img {
      height: 340px;
      width: 340px;
      object-fit: cover;
      border-radius: 10px;
    }
  
    .image_and_title_container {
      position: relative;
      cursor: pointer;
  
      .logement_title {
        position: absolute;
        bottom: 0;
        left: 15px;
        color: white;
        font-size: 18px;
        font-weight: 500;
      }
  
      .box_shadow {
        position: absolute;
        bottom: 4px;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
        border-radius: 10px;
      }
    }
  
    .logement_card {
      margin-bottom: 30px;
    }
  
    @media (max-width: 800px) {
      .box_shadow, .logement_img {
        height: 300px;
      }
  
      .logement_list {
        background-color: white !important;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  
    @media (max-width: 400px) {
      .box_shadow, .logement_img {
        height: 255px;
      }
  
      .logement_title {
        font-size: 16px;
      }
    }
