.logement_rate .fa-solid.fa-star.active {
    color : #FF6060;
    font-size: 22px;
}
.logement_rate ul{
    padding: 0;
}
.logement_rate .fa-solid.fa-star.inactive{
    color : gray;
    font-size: 22px;
}
.logement_rate li{
    margin: 3.5px;
}
@media (max-width: 800px) {
    .logement_rate .fa-solid.fa-star.inactive, .logement_rate .fa-solid.fa-star.active{
        font-size: 17px;
   }
}
@media (max-width: 400px) {
    .logement_rate .fa-solid.fa-star.inactive, .logement_rate .fa-solid.fa-star.active{
        font-size: 12px;
   }
}
