.rate .fa-solid.fa-star.active {
    color : #FF6060;
    font-size: 22px;
}

.rate .fa-solid.fa-star.inactive{
    color : gray;
    font-size: 22px;
}

@media (max-width: 400px) {
    .rate .fa-solid.fa-star.inactive, .rate .fa-solid.fa-star.active{
       font-size: 16px;
    }
    
    
}