.logement_tags{
    background-color: #FF6060;
    border-radius: 10px;
    min-width: 95px;
    height: 25px;
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 25px;
    padding: 0 10px;
    font-weight: 500
}

.logement_list_tags{
    display: flex;
    flex-direction: row;
    gap : 10px
}