.logement_title_page{
    color: #FF6060;
    font-size: 36px;
    margin-bottom: 0;
}
@media (max-width: 800px) {
    .logement_title_page{
        font-size: 26px;
   }
}
@media (max-width: 400px) {
    .logement_title_page{
        font-size: 18px;
   }
}
